/* Restaurant */
.restaurant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 80px;
  --width: 1200px;
  .restaurantItem {
    width: calc((var(--width) / 4) - 20px);
  }
  @include respond(laptop) {
    --width: 1000px;
    .restaurantItem {
      width: calc((var(--width) / 3) - 10px);
    }
  }
  @include respond(tab-port) {
    --width: 700px;
    .restaurantItem {
      width: calc((var(--width) / 2) - 10px);
    }
    &__body {
      justify-content: space-between;
    }
  }
  @include respond(phone) {
    --width: 425px;
    .restaurantItem {
      width: calc((var(--width)) - 50px);
    }
    &__body {
      justify-content: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 112%;

    text-align: center;

    color: #212121;
    margin-bottom: 50px;
  }
  &__body {
    width: var(--width);
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    margin-top: 50px;
    width: fit-content;
    padding: 15px 35px 15px 45px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(97.86deg, #ffba26 -8.95%, #ff9a0e 109.24%);
    border: none;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
      0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    border-radius: 8px;
    transition: all 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-left: 2px;
    }
  }
}

/*---------------x-------------------------x-------------------------------------*/

/* SEARCH BY FOOD */

.searchFood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefaf1;
  padding-bottom: 50px;

  --width: 1200px;
  @include respond(laptop) {
    --width: 1000px;
  }
  @include respond(tab-port) {
    --width: 700px;
  }
  @include respond(phone) {
    --width: 425px;
    &__bottom {
      flex-wrap: wrap;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    padding: 50px 0;

    &-title {
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 112%;

      text-align: center;
      color: #212121;
    }

    &-option {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      &-next,
      &-prev {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;
        text-align: center;
        background: #ffb30e;
        border-radius: 50%;
        border: 1px solid #faaa01;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.4s;
        /* Button shadow ! */

        box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24),
          0px 14px 32px rgba(255, 178, 14, 0.29);
        &:hover {
          transform: scale(1.1);
        }
        svg {
          color: #fff;
          width: 25px;
          height: 25px;
        }
      }
      &-next {
        margin-right: 10px;
      }
    }
    &-viewall {
      display: flex;
      align-items: center;

      font-weight: bold;
      font-size: 1.4rem;
      line-height: 100%;

      text-align: center;
      color: #ffb30e;

      margin-right: 20px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    width: var(--width);
  }
}

/*---------------x-------------------------x-------------------------------------*/

/*  FEATURES */

.features {
  background: #feefd0;
  padding: 100px 100px 100px 100px;
  display: flex;
  justify-content: center;
  &__main {
    padding: 40px;
  }

  @include respond(laptop) {
    --width: 1000px;
    padding: 50px;
    &__main {
      padding: 10px;
    }
  }
  @include respond(tab-port) {
    --width: 700px;
    padding: 20px;
    &__main {
      padding: 0;
      .featureItem__title {
        width: 110px;
        font-size: 2.8rem;
      }
    }
  }
  @include respond(phone) {
    --width: 425px;
    padding: 20px;
    &__main {
      padding: 0;
      flex-direction: column;
      .featureItem {
        &:not(:last-child) {
          margin: 0;
        }
        &:not(:last-child) &__title {
          border-right: none;
        }
      }
    }
  }

  &__main {
    display: flex;
    // width: 1000px;
    background-color: $color-white;
    box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01),
      0px 27px 82px rgba(255, 174, 0, 0.28);
    border-radius: 32px;

    align-items: center;
    justify-content: center;
  }
}

/*---------------x-------------------------x-------------------------------------*/

/* DOWNLOAD APP */
.downloadApp {
  position: relative;
  background: linear-gradient(261.24deg, #ffae00 63.85%, #ff8a00 111.94%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  &__bg {
    position: relative;
    height: 500px;
    width: 100%;
    background-position: top;
    // clip-path: circle(90.8% at 51% -74%);
    // clip-path: circle(69.2% at 54% 23%);
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 35%,
      100% 85%,
      80% 89%,
      53% 93%,
      21% 89%,
      0 80%,
      0% 35%,
      0 0
    );
    // -webkit-clip-path: circle(90.8% at 51% -74%);
    background-color: $color-yellow-light;
  }
  &__phone {
    position: absolute;
    margin-right: 100px;
    transform: translate(-50%, -50%);
    right: 200px;
    &-photo {
      width: 280px;
      position: absolute;
      bottom: 0;
      &-1 {
        right: -30px;
      }
      &-2 {
        left: -30px;
      }
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  &__heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;

    position: absolute;
    bottom: 0;
    left: 300px;
    transform: translate(-50%, -50%);
    // padding: 0px 50px;
    &-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: bold;
        font-size: 5.2rem;
        line-height: 106%;
        width: 350px;
        background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
        color: transparent;
        background-clip: text;
      }
      p {
        width: 350px;
        margin: 40px 0;
        background: rgba(130, 126, 126, 1);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 1.2rem;
      }
    }
    &-button {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
  @include respond(laptop) {
    --width: 1000px;
    &__phone {
      right: 100px;
      &-photo {
        width: 230px;
      }
    }
    &__heading {
      left: 274px;
      width: 340px;

      &-info {
      }
      &-button {
        width: 100%;
        justify-content: flex-start;
        .button {
          &:not(:last-child) {
            margin-right: 50px;
          }
        }
      }
    }
  }
  @include respond(tab-port) {
    --width: 700px;
    &__phone {
      right: 85px;
    }
  }
  @include respond(phone) {
    &__phone {
      display: none;
    }
    &__heading {
      position: static;
      transform: translate(0);
      &-info {
        text-align: center;
      }
      &-button {
        justify-content: center;
      }
    }
    &__content {
      top: 0%;
    }
  }
}

/*---------------x-------------------------x-------------------------------------*/

/* FOOD DETAIL */
.foodDetail {
  padding: 50px 0;
  margin: 0 200px;
  @include respond(laptop) {
    margin: 0 100px;
  }
  @include respond(laptop-M) {
    margin: 0 60px;
  }
  @include respond(tab-port) {
    margin: 0 50px;
  }
  @include respond(tab-port) {
    padding: 10px 0;
    margin: 0 10px;
  }
  // background: #e5e5e5;
}

/*---------------x-------------------------x-------------------------------------*/

/* ORDER FINALL */

.orderFinal {
  background-image: url(../img/orderFinal.png);
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 50px;
    width: 600px;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 97.5%;
    /* or 56px */

    text-align: center;

    /* Theme/White */

    color: #ffffff;
  }
  @include respond(laptop) {
    height: 250px;
    &__title {
      margin-bottom: 30px;
    }
  }
  @include respond(laptop-M) {
    height: 250px;

    &__title {
      width: 500px;
      margin-bottom: 20px;
    }
  }
  @include respond(tab-port) {
    height: 200px;
    &__title {
      width: 400px;
      margin-bottom: 10px;
    }
  }
}

/*--------------------------- FOOTER--------------- */

.footer {
  background-color: #212121;
  padding: 0 200px 50px 200px;

  &__top {
    padding-top: 100px;
    h3 {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 40px;
    }
  }
  &__col {
    display: flex;
    justify-content: space-between;

    padding-bottom: 80px;
    border-bottom: 2px solid #424242;
    &-1 {
      list-style: none;
      color: $color-white;
      li:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        color: #f5f5f5;
        font-size: 1.4rem;
        font-weight: 400;
        // margin: 8px;
        text-decoration: none;
      }
    }
  }

  &__middle {
    --width: $width-popular-content;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #424242;
    .footer__menu {
      display: flex;

      width: calc(var(--width) / 2);
      &-company {
        &:not(:last-child) {
          margin-right: 10px;
        }
        width: calc((var(--width) / 2) / 3 - 20px);
        &-title {
          margin-bottom: 25px;
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 120%;
          /* or 26px */

          color: #ffffff;
        }
      }
    }
    .footer__subcription {
      display: flex;
      flex-direction: column;
      &-title {
        font-size: 1.4rem;
        line-height: 120%;
        text-transform: uppercase;
        color: #f5f5f5;
        opacity: 0.6;
      }
      &-icon {
        display: flex;
        margin: 20px 0;
        svg {
          &:not(:last-child) {
            margin-right: 20px;
          }
          border-radius: 2px;
          cursor: pointer;
          transition: all 0.5s;
        }
        &-fb:hover {
          color: rgb(89, 89, 209);
          background-color: #d6d0d0;
        }
        &-insta:hover {
          background-image: linear-gradient(
            to right top,
            rgba(#f8c900, 0.5),
            rgba(#7d3aae, 0.83)
          );
        }
        &-twitter:hover {
          color: #1c9cea;
          background: #d6d0d0;
        }
        &-youtube:hover {
          color: #f70000;
          background: #d6d0d0;
        }
      }
      &-detail {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 140%;
        /* or 25px */

        color: #bbbbbb;
        margin-bottom: 20px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .legal {
      color: $color-gray-light-2;
      font-size: 1.1rem;
      span {
        font-weight: 800;
      }
    }
    .madeby {
      color: $color-gray-light-2;
      font-size: 1.1rem;

      span {
        font-size: 1.5rem;
        font-weight: 800;
        color: $color-light;
      }
    }
  }
  @include respond(laptop) {
    padding: 0 100px 30px 100px;
    &__middle {
      --width: 1000px;
    }
    &__top {
      padding-top: 60px;
    }
  }
  @include respond(laptop-M) {
    padding: 0 80px 30px 80px;
    &__middle {
      --width: 900px;
    }
    &__top {
      padding-top: 40px;
    }
  }
  @include respond(tab-port) {
    padding: 0 50px 30px 50px;
    &__middle {
      --width: 700px;
    }
  }
  @include respond(phone) {
    padding: 0 20px 10px 20px;
    &__middle {
      --width: 425px;

      .footer__menu {
        width: calc(var(--width));
        &-company {
          width: calc((var(--width) / 3) - 10px);
        }
      }
      flex-direction: column;
    }
    &__menu {
      margin-bottom: 20px;
    }
  }
}

/*---------------X------------ FOOTER-------X-------- */
