.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__top {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    width: 100%;
  }
  &__highlight {
    --width: 1200px;

    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    width: var(--width);

    &__shape {
      width: calc((var(--width) / 2) - 100px);
      height: calc((var(--width) / 2) - 250px);
      box-shadow: $box-shadow-1;
      border-radius: 10px;
      img {
        width: calc((var(--width) / 2) - 100px);
        height: 100%;
        display: block;
        border-radius: 10px;
      }
    }
    @include respond(laptop) {
      --width: 1000px;
      justify-content: space-around;
    }
    @include respond(tab-port) {
      --width: 800px;
      &__shape {
        height: auto;
        img {
          height: auto;
        }
      }
    }
    @include respond(phone) {
      --width: 425px;
      flex-direction: column;
      align-items: center;
      &__shape {
        width: calc(var(--width) - 100px);
        margin-bottom: 20px;
        img {
          width: calc(var(--width) - 100px);
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((var(--width) / 2) - 100px);
    &-link {
      display: flex;
    }
    &-list {
      display: flex;
      text-decoration: none;
      list-style: none;
      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 1.4rem;
          margin: 0px 10px;
        }
      }
    }
    &-list-option {
      a {
        text-decoration: none;
        font-size: 1.6rem;
        color: rgb(47, 47, 224);
      }
    }
    &__preview {
      display: flex;
      // justify-content: center;
      align-items: center;
      margin: 20px 0;
    }
    &__preview-icon {
      color: #f1c40f;
    }
    &__address {
      margin-bottom: 20px;
    }
    &__address-title {
      margin-bottom: 10px;
    }
    &__open {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid;
      p {
        color: #42c740;
      }
    }
    &__open-time {
      display: flex;
      align-items: center;

      margin-left: 10px;
      p {
        color: #000000;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
  &__bottom {
    background: linear-gradient(
      180deg,
      rgba(249, 200, 96, 0.83) 0%,
      rgba(228, 190, 107, 0) 100%
    );
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    @include respond(phone) {
      padding: 20px 0;
    }
  }
  &__detail {
    --width: 1200px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    width: var(--width);
    &-category {
      background: #fefdfd;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px 10px 5px 5px;
      height: fit-content;
      // padding: 0px 20px;
      &-title {
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        font-weight: 800;
        font-size: 1.8rem;
        background: #ffae00;
        border-radius: 10px 10px 0px 0px;
        padding: 10px 10px;
        margin-bottom: 10px;
      }
      &-list {
        list-style: none;
        padding: 0 20px;
        height: fit-content;
      }
      &-option {
        margin-bottom: 20px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #a79e9e;
        &-active {
          background: #7a7676;
          border-radius: 7px;
          color: $color-white;
        }
      }
    }
    &-food {
      display: flex;
      justify-content: center;
      width: calc((var(--width) / 5) * 3);
      flex-wrap: wrap;
    }
    @include respond(tab-port) {
      --width: 900px;
      justify-content: space-around;
    }
    @include respond(phone) {
      --width: 400px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: calc(var(--width));
      &-category {
        width: 80%;
        margin-bottom: 20px;
      }
      .popular__item {
        width: calc((var(--width)) - 100px);
        &-img {
          width: calc((var(--width)) - 100px);
          height: auto;
        }
      }
    }
  }
}
