.category {
  --width: 1200px;
  width: calc((var(--width) / 6) - 20px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 20px;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-black-title;
    text-align: center;
    margin-top: 30px;
  }
  &__shape {
    width: calc((var(--width) / 6) - 20px); // 8 * 16
    height: calc((var(--width) / 6) - 20px);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    cursor: pointer;
    position: relative;
    // float: left;
    &__img {
      height: 100%;
      transition: all 0.3s;
      backface-visibility: hidden;
      transform: scale(1.1);
    }
    &:hover &__img {
      transform: scale(0.99);
      filter: blur(2px) brightness(80%);
    }
    &:hover .category__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }
  &__caption {
    // margin-top: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 16px;
    transition: all 0.3s;
    backface-visibility: hidden;
    text-align: center;
    opacity: 0;
  }
  @include respond(laptop) {
    --width: 1000px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  @include respond(tab-port) {
    --width: 700px;
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
  @include respond(phone) {
    --width: 425px;
    width: calc((var(--width) / 3) - 10px);
    // flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5px;
    &__shape {
      width: calc((var(--width) / 3) - 10px); // 8 * 16
      height: calc((var(--width) / 3) - 10px);
    }
  }
}
