.checkout {
  display: flex;
  justify-content: center;
  margin: 100px;
  --width: calc(#{$width-popular-content});
  // width: var(--width);
  @include respond(laptop) {
    --width: 1000px;
    margin: 40px;
  }
  @include respond(laptop-M) {
    --width: 1000px;
    margin: 40px;
  }
  @include respond(tab-port) {
    --width: 800px;
    margin: 40px;
  }
  @include respond(phone) {
    --width: 360px;
  }
  &__content {
    display: flex;
    width: var(--width);
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__product {
    width: calc(var(--width) / 2);
    @include respond(phone) {
      margin-bottom: 40px;
      width: var(--width);
    }
  }

  &__action {
    &-fixed {
      position: fixed;
      top: 0;
      right: 240px;
      @include respond(laptop) {
        right: 150px;
      }
      @include respond(laptop-M) {
        right: 100px;
      }
      @include respond(tab-port) {
        right: 20px;
      }
      @include respond(phone) {
        position: static;
      }
    }
    &-form {
      background-color: #ffefd7;
      padding: 10px 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      @include respond(tab-port) {
        padding: 10px;
      }
    }
    &-form-title {
      display: flex;
      align-items: center;
      p {
        font-size: 1.6rem;
      }
      @include respond(tab-port) {
        padding: 10px;
      }
    }
    &-form-voucher {
      margin: 20px 0;
      &-input {
        padding: 5px 10px;
        margin-right: 20px;
        &::placeholder {
          text-transform: uppercase;
        }
      }
      &-btn {
        padding: 10px 20px;
        background: rgba(255, 174, 0, 0.29);
        border: none;
        &:focus {
          outline: none;
        }
      }
      @include respond(tab-port) {
        margin: 10px 0;
        display: flex;
        &-input {
          padding: 5px;
          margin-right: 5px;
          flex: 1;
        }
        &-btn {
          padding: 10px;
        }
      }
    }
    &-form-voucher-input {
    }
    &-from-voucher-btn {
    }
    &-form-total {
      display: flex;
      justify-content: space-between;
      &-item {
        font-size: 2rem;
        span {
          color: $color-warning;
        }
      }
      &-price {
        color: rgb(43, 202, 57);
        font-size: 2.2rem;
        font-weight: 600;
      }
    }
    &-form-total-item {
    }
    &-form-total-price {
    }
  }
}
.checkoutItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  background: #ffefd7;
  border-radius: 8px;
  filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26))
    drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.29));

  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &__shape {
    width: calc(var(--width) / 10);
    position: relative;
    display: flex;
    &-photo {
      width: 100%;
    }
    &-caption {
      position: absolute;
      right: 0;
    }
    @include respond(phone) {
      width: calc((var(--width) / 5));
    }
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-light;
  }
  &__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      background-color: $color-white;
    }
    span {
      margin: 0 5px;
      align-content: stretch;
    }
  }
  &__remove {
    &-icon {
      font-size: 1.8rem !important;
      &:hover {
        font-size: 18px;
        color: rgb(199, 58, 58);
      }
    }
  }
}
