.restaurantItem {
  // margin: 30px 50px;
  // width: $width-restaurant-item;
  margin-bottom: 20px;
  &:not(:last-child) {
    margin-right: 10px;
  }

  .res__text {
    margin: 20px 0;
    p {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 10px;

      color: #424242;
    }
    .res__remaining {
      background-color: rgba(241, 114, 40, 0.2);
      border-radius: 5px;
      padding: 5px 0;
      color: #f17228;
      font-weight: 700;
      font-size: 16px;
      width: fit-content;
      padding: 5px 10px;
    }
  }
  .res__logo {
    margin: 15px 0;
    display: flex;
    align-items: center;
    &-img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    &-info {
      h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        color: #424242;
      }
    }
    &-rate {
      display: flex;
      //   justify-content: center;
      align-items: center;

      span {
        margin-left: 5px;
        color: $color-light;
        font-weight: 400;
      }
    }
    &-icon {
      //   background-color: $color-light;
      color: $color-light;
    }
  }
  .res__img {
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    img {
      border-radius: 10px;
      background-size: cover;
      display: block; // giúp block img trong div

      width: 100%;
      height: 260px;
    }
    .res__bagde {
      position: absolute;
      top: 0;
      padding: 20px;

      display: flex;
      //   justify-content: center;
      align-items: center;
      &__discount {
        background: $color-dark;
        border-radius: 4px;
        padding: 5px 10px;
        width: fit-content;
        margin-right: 10px;

        display: flex;
        align-items: center;
        &-icon {
          width: 16px;
          height: 16px;
        }
        &-title {
          font-weight: bold;
          font-size: 18px;
          line-height: 120%;
          color: #ffffff;
          margin-left: 5px;
        }
      }
      &__fast {
        background: $color-light;
        border-radius: 4px;
        padding: 5px 10px;
        width: fit-content;

        display: flex;
        align-items: center;
        &-icon {
          width: 16px;
          height: 16px;
          color: #ffffff;
        }
        &-title {
          font-weight: bold;
          font-size: 18px;
          line-height: 120%;
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
}
