.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  &-footer {
    svg {
      color: #adadad;
      width: 18px;
      height: 18px;
      z-index: 1;
    }
  }
  &-search {
    svg {
      color: #ff7474;
      width: 18px;
      height: 18px;
      z-index: 1;
    }
  }
  &-email {
    flex: 1;

    position: relative;
    background: #424242;
    border-radius: 4px;
    padding: 9px 0px 8px 22px;
    margin-left: -25px;
    margin-right: 10px;
    border: none;

    padding: 12px 30px;
    &-header {
      background: #f5f5f5;
    }
    // z-index: -99;
    &:focus {
      outline: none;
    }
  }

  // .form__button {
  //   text-transform: none;
  //   background-color: $color-warning;
  //   border-radius: 5px;
  //   color: #fff;
  //   svg {
  //     color: #fff;
  //   }
  // }
}
