.popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --width: 1200px;
  @include respond(laptop) {
    --width: 1000px;
  }
  @include respond(tab-port) {
    --width: 700px;
  }

  padding: 100px;
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 112%;

    text-align: center;

    color: #212121;
    margin-bottom: 50px;
  }
  &__button {
    width: 50px;
    height: 50px;
    background: #ffb20e;
    border: 1px solid #faaa01;
    box-sizing: border-box;
    /* Button shadow ! */

    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24),
      0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 92px;
    text-align: center;
    padding: 10px;

    svg {
      display: flex;
      //   justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 32px;
      color: #fff;
    }
    &:hover,
    &:visited {
      cursor: pointer;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    margin: 0 20px;
    width: var(--width);
  }
}
.popular__item {
  width: calc((var(--width) / 5) - 10px);
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  // transform: translateX(-$width-popular-item);
  &-restaurant__item {
    margin-right: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  /* SLIDE */
  &-active {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
  }
  &-hidden {
    transition: opacity 0.6s ease;
    opacity: 0;
    display: none;
    animation: hiddenSlide;
  }

  /* SLIDE END */
  &-img {
    width: 100%;
    height: calc((var(--width) / 5) - 10px + 10px);
    display: block;
    border-radius: 10px;
  }
  &-info {
    margin: 15px 0;
  }
  &-name {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 120%;

    color: #424242;
  }
  &-marker {
    font-size: 1.8rem;
    line-height: 120%;

    color: #ffb30e;
    display: flex;

    margin: 5px 0;
    // justify-content: center;

    svg {
      width: 1.8rem;
    }
  }
  &-price {
    font-weight: bold;
    font-size: 1.8rem;
    color: #212121;
  }
  &-button {
    width: 100%;
    padding: 15px 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background: #f17228;
    border: none;

    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22),
      0px 20px 40px rgba(250, 99, 35, 0.24);
    border-radius: 8px;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(-1px);
    }
    &:focus {
      outline: none;
    }
  }
}
